html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}




img {
    max-width: 100%;
}

.container {
    background-color: cornsilk;
    
}

.menu {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    background-color: red;
    padding: 10px;
}

.image {
    text-align: center;
    padding: 100px, 100px, 0px, 0px;

}

.history {
    font-size: 24px;
}

.pizza-place-menu {
    font-size: 28px;
}

.pizza {
    font-size: 24px;
}

.appetizers {
    font-size: 24px;
}

.build {
    font-size: 24px;
}

.salads {
    font-size: 24px;
}

.sandwiches {
    font-size: 24px;
}

.cocktails {
    font-size: 24px;
}

.beer {
    font-size: 24px;
}

.soft {
    font-size: 24px;
}

.footer {
    font-size: 24px;
}



@media (max-width: 700px) {
  
  .container, menu, .header, .history {
    grid-column: 1 / span 5;
  }
  
}


